/*--Configuração da página--*/
body{
    font-family: Arial, sans-serif; 
    margin: 0; 
    padding: 0; 
    background-color: #f1f1f1;
}

/*--Título da página--*/
.campo{
    display: flex; 
    align-items: center; 
    margin-bottom: 5px; 
}

/*--Formulario--*/
#form{
    margin: 0 auto;
    justify-content: center; 
    padding: 30px;     
}

/*--Aumentar a largura e alinhar os elementos dentro da tag <label>--*/
.campo label{
    width: 100px; 
    text-align: right; 
}

/*--Uma configuração da fonte das letras para os elementos que estiverem dentro das tag <input> e <textarea>--*/
.campo input, .campo textarea{
    display: flex;
    font-size: 1em; 
    width: 300px; 
}

/*--Posicionar meu botão tanto para direita como para a esquerda--*/
.botao{
    margin-left: 100px; 
}

.redes{
    display: inline-block;
    width: 100px;
    text-align: center;
    padding: 10px 20px;
    border: 2px solid blue;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;    
}

.redes:hover{
    background-color: yellowgreen;
}

.redes:visited{
    color: blue;
}